import common.Caddyfile

# Recipes client subdomains → vite dev server

http://recipes.docker.localhost {
	reverse_proxy recipes-clients:5173
}

http://app.recipes.docker.localhost {
	reverse_proxy recipes-clients:5173
}

http://admin.recipes.docker.localhost {
	reverse_proxy recipes-clients:5173
}

http://account.recipes.docker.localhost {
	reverse_proxy recipes-clients:5173
}

# Hub client subdomains → static builds served by caddy

http://docker.localhost {
	import spa /hub-clients /root/index.html
}

http://app.docker.localhost {
	import spa /hub-clients /app/index.html
}

http://auth.docker.localhost {
	import spa /hub-clients /auth/index.html
}

http://account.docker.localhost {
	import spa /hub-clients /account/index.html
}

http://admin.docker.localhost {
	import spa /hub-clients /admin/index.html
}

# Recipes API

http://api.recipes.docker.localhost {
	import api-proxy monolith:3000 monolith:3002
}

# Identity service

http://identity.docker.localhost {
	import identity docker.localhost monolith:3000
}

# Azurite

http://azurite.docker.localhost {
	reverse_proxy azurite:10000 {
		header_up Host azurite:10000
		header_up X-Forwarded-Host {host}
	}
}
